.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  }
  
  .btn {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }
  
  .btn button {
	margin: 0 10px;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	background-color: transparent;
	cursor: pointer;
  }
  
  .btn button:focus {
	outline: none;
  }
  
  .form-section {
	width: 400px; /* Modificar el ancho según sea necesario */
	padding: 50px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
  }
  
  .login-box,
  .signup-box {
	display: none;
  }
  
  .login-box.active,
  .signup-box.active {
	display: block;
  }
  
  .ele {
	width: 100%;
	padding: 8px; /* Ajusta el valor según sea necesario */
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .clkbtn {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
  }
  
  .clkbtn:hover {
	background-color: #45a049;
  }
  
  .slider {
	width: 100%;
	height: 4px;
	background-color: #ccc;
  }
  
  .slider:after {
	content: "";
	display: block;
	width: 50%;
	height: 100%;
	background-color: #4CAF50;
	transform: translateX(0%);
	transition: transform 0.3s ease;
  }
  
  .slider.login {
	cursor: pointer;
  }
  
  .slider.signup {
	cursor: pointer;
  }
  
  .slider.signup:after {
	transform: translateX(100%);
  }
  