<div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>Ingresar </span><span>Registrate</span></h6>
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Ingresar</h4>
  
                      <form [formGroup]="formLogin" (ngSubmit)="saveLogin()">
                        <div class="form-group">
                          <input type="email" class="form-style" placeholder="Email" formControlName="email">
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" class="form-style" placeholder="Password" formControlName="password">
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <button type="submit" class="btn mt-4">Ingresar</button>
                      </form>
  
                      <p class="mb-0 mt-4 text-center"><a href="https://www.web-leb.com/code" class="link">Olvidaste tu contraseña?</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-back">
              <div class="center-wrap">
                <div class="section text-center">
                  <h4 class="mb-3 pb-3">Registrate</h4>
                  <form [formGroup]="formRegister" (ngSubmit)="saveRegister()">
                    <div class="form-group">
                      <input type="text" class="form-style" placeholder="Full Name" formControlName="name">
                      <i class="input-icon uil uil-user"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="tel" class="form-style" placeholder="Phone Number" formControlName="phone">
                      <i class="input-icon uil uil-phone"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="email" class="form-style" placeholder="Email" formControlName="email">
                      <i class="input-icon uil uil-at"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="password" class="form-style" placeholder="Password" formControlName="password">
                      <i class="input-icon uil uil-lock-alt"></i>
                    </div>
                    <button type="submit" class="btn mt-4">Registrarse</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  